<% USE HTML %>
<form method="post" title="<% HTML.escape(title) %>" tourl="<% url %>">

    <p>Really delete <% HTML.escape(object.name) %>?</p>

    <input name="submit" type="submit" value="Delete">
    <a     name="cancel" href="/">Cancel</a>

</form>

