<% USE HTML %>
<form method="post">

    <% FOREACH e IN entries %>
    <div id="entry-<% e.name %>" class="form-entry">
        <label for="<% e.name %>"><% e.label %></label>
        <input type="text" value="<% e.value %>" name="<% e.name %>">
    </div>
    <% END %>

    <input type="submit" value="Submit">
</form>

