<% USE HTML %>
<form method="post" title="<% HTML.escape(title) %>" tourl="<% url %>">

    <% FOREACH e IN entries %>
    <div id="entry-<% e.name %>" class="form-entry">
        <label for="<% e.name %>"><% e.label %></label>
        <input type="text" value="<% HTML.escape(e.value) %>" name="<% e.name %>">
    </div>
    <% END %>

    <div class="actions">
        <input type="submit" value="Submit">
        <a href="/">Cancel</a>
    </div>
</form>

