<!DOCTYPE html>
<% USE HTML %>

<% MACRO render_empls(empls, depth, idx) BLOCK %><% IF d.employees.size %>
    <ul class="employees">
    <% FOREACH e IN d.employees %>
        <li id="employee-<% depth %>-<% idx %>-<% loop.index %>" class="empl-item">
            <% HTML.escape(e.name) %>
            <a class="edit" href="/edit/<% depth %>/<% idx %>/<% loop.index %>">Edit</a>
            <ul class="employee-attributes">
                <li id="address-<% depth %>-<% idx %>-<% loop.index %>" class="addr-item">
                    <% HTML.escape(e.address) %>
                    <a class="edit" href="/edit/a/<% depth %>/<% idx %>/<% loop.index %>">
                        Edit
                    </a>
                </li>
                <li id="salary-<% depth %>-<% idx %>-<% loop.index %>" class="slry-item">
                    <% HTML.escape(e.salary) %>
                    <a class="edit" href="/edit/s/<% depth %>/<% idx %>/<% loop.index %>">
                        Edit
                    </a>
                </li>
            </ul>
        </li>
    <% END %>
    </ul>
<% END %><% END %>

<% MACRO render_depts(depts, depth) BLOCK %><% IF depts.size %>
    <ul class="departments">
    <% FOREACH d IN depts %>
        <li id="department-<% depth %>-<% loop.index %>" class="dept-item">
            <% HTML.escape(d.name) %>
            <a class="edit" href="/edit/<% depth %>/<% loop.index %>">Edit</a>
            <a class="edit" href="/add/e/<% depth %>/<% loop.index %>">+Employee</a>
            <a class="edit" href="/add/d/<% depth %>/<% loop.index %>">+Department</a>
            <% render_empls(d.employees, depth, loop.index) %>
            <% render_depts(d.departments, depth + 1) %>
        </li>
    <% END %>
    </ul>
<% END %><% END %>

<html>
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet"
             href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"
             type="text/css">
        <link  href="/jstree/themes/default/style.css"
                rel="stylesheet"
               type="text/css">
        <link  href="/dancer.css"
                rel="stylesheet"
               type="text/css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
               type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"
               type="text/javascript"></script>
        <script src="/jstree/jstree.min.js"
               type="text/javascript"></script>
        <script src="/dancer.js"
               type="text/javascript"></script>

        <title>Contribution:dancer</title>
    </head>

    <body>
        <h1>Contribution:dancer</h1>

        <noscript>This page works better with JavaScript enabled.</noscript>

        <div id="company-tree">
            <ul class="companies">
            <% FOREACH c IN companies %>
                <li id="company-<% loop.index %>" class="comp-item">
                    <% HTML.escape(c.name) %>
                    <a class="edit" href="/edit/<% loop.index %>">Edit</a>
                    <a class="edit" href="/add/<% loop.index %>">+Department</a>
                    <% render_depts(c.departments, 0) %>
                </li>
            <% END %>
            </ul>
        </div>

    </body>
</html>

