body {
    font-family: sans-serif;
}

h1 {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}


input[type="text"] {
    width: 100%;
}


.addr-item {
    list-style-image: url('/addr_icon.png');
}

.comp-item {
    list-style-image: url('/comp_icon.png');
}

.dept-item {
    list-style-image: url('/dept_icon.png');
}

.empl-item {
    list-style-image: url('/empl_icon.png');
}

.slry-item {
    list-style-image: url('/slry_icon.png');
}

